body{
}
.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
      width: 300px;
}
#containerMid{
    width:500px;
    padding-top:50px;
    margin-left:auto;
    margin-right:auto;
    height:auto;
}
.navbar-default {
  background-color: #337ab7;
  border-color: #2d6da2;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
  padding-top:30px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #2d6da2;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #2d6da2;
  height:75px;
}
.navbar-default .navbar-toggle {
  border-color: #2d6da2;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2d6da2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #ecdbff;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ecdbff;
        background-color: #2d6da2;
    }
}
a.dropdown-toggle {
        height: 75px;
    }

    #sideNavContainer {
        width: 35%;
        float: left;
        height: 75px;
    }

    #NavMidContainer {
        margin-left: auto;
        margin-right: auto;
        height: 75px;
    }

    #NavAccountContainer {
        float: right;
        width: auto;
        right: 0px;
        height: 75px;
    }
.pull-right.search {
    width: 88%;
}
.columns.columns-right.btn-group.pull-right {
    width: 10%;
}